<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.imztj.rfc3339</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>5D4E5FC2-9256-4A3F-9F25-0F7AEC3D628A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3AFFE5E1-66E5-4A9C-A0EA-4F6E7ACC66CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF79D300-4191-4717-9713-D23B1DE4B094</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CCD5A689-EF99-4178-BEB9-F69155F57DF5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tianjie Zhang</string>
	<key>description</key>
	<string>Conversion between Unix timestamp and RFC3339 standard time.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>RFC3339</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3AFFE5E1-66E5-4A9C-A0EA-4F6E7ACC66CE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>trfc</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在转换...</string>
				<key>script</key>
				<string>require_once('time.php');

$T = new Time("{var:TimeZone}");

$time = "{query}";

$T-&gt;getTime($time);</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>RFC3339 ↔ 秒级时间戳（10位）</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5D4E5FC2-9256-4A3F-9F25-0F7AEC3D628A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CCD5A689-EF99-4178-BEB9-F69155F57DF5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>trfcm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在转换...</string>
				<key>script</key>
				<string>require_once('microtime.php');

$T = new Time("{var:TimeZone}");

$time = "{query}";

$T-&gt;getTime($time);</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>RFC3339 ↔ 毫秒级时间戳（13位）</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FF79D300-4191-4717-9713-D23B1DE4B094</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Conversion between Unix timestamp and RFC3339 standard time.</string>
	<key>uidata</key>
	<dict>
		<key>3AFFE5E1-66E5-4A9C-A0EA-4F6E7ACC66CE</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>5D4E5FC2-9256-4A3F-9F25-0F7AEC3D628A</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>CCD5A689-EF99-4178-BEB9-F69155F57DF5</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>FF79D300-4191-4717-9713-D23B1DE4B094</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>TimeZone</key>
		<string>Z</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://imztj.cn</string>
</dict>
</plist>
